@font-face {
    font-family: "Roboto";
    src: url("../../fonts/Robotolight.woff2"), url("../../fonts/Robotolight.woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../../fonts/Roboto.woff2"), url("../../fonts/Roboto.woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../../fonts/Robotomedium.woff2"), url("../../fonts/Robotomedium.woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../../fonts/Robotobold.woff2"), url("../../fonts/Robotobold.woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Yeseva One";
    src: url("../../fonts/yesevaone.woff2"), url("../../fonts/yesevaone.woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    margin: 0;
    padding: 0;
    font-size: 11px;
    line-height: 16px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    color: #ffffff;
    background-color: #151313;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.section__title {
    margin: 0;
    font-family: "Yeseva One", "Georgia", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #ffffff;
    text-align: center;
}

.container {
    position: relative;
    max-width: 1286px;
    margin: 0 auto;
    padding: 0 40px;
}

.section__lead {
    margin: 0;
    text-align: center;
    color: #A07B50;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
}

.section__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.social {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.social__item {
    margin-bottom: 14px;
}

.social__icon {
    transition: fill 0.3s ease-out;
}

.social__icon:hover, 
.social__icon:focus {
    fill: #a07b50;
}

.header {
    position: relative;
    background-color: #151313;
}

.header__container {
    position: relative;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 80px;
    background-image: url(../../img/main-cat-desktop@1x.png);
    background-repeat: no-repeat;
    background-size: 684px auto;
    background-position: right 0 bottom 0;
}
  
.header__wrapper {
    margin: 0 auto;
    width: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 47px;
    padding-bottom: 64px;
    overflow: hidden;
    z-index: 2;
}

.header__logo {
    display: block;
    width: 100%;
    margin-bottom: 78px;
    text-align: center;
}
  
.header__logo svg {
    fill: #a07b50;
    stroke: #151313;
    stroke-width: 0.8;
}

.logo svg {
    transition: fill 0.3s ease-out;
}

.logo svg:hover,
.logo svg:focus {
    fill: #ffffff;
}

.header__content {
    width: auto;
}

.header__city {
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: left;   
    color: #a07b50;
    max-width: 330px;
    margin-top: 30px;
    margin-bottom: 17px;
}

.header__title {
    margin-bottom: 16px;
    text-align: left;
    font-size: 52px;
    line-height: 60px;
    max-width: 350px;
    transform: translateX(-3px);
}

.header__lead {
    margin: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #a07b50;
    max-width: 330px;
    margin-bottom: 48px;
}

.header__link {
    width: 200px;
    padding: 18px;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
    text-align: center;
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #a07b50;
    background-color: transparent;
    text-decoration: none;
    transition: 
        color 0.3s ease-out, 
        border 0.3s ease-out;
    margin-bottom: 110px;
}

.header__link:focus, 
.header__link:hover {
    border-color: #ffffff;
    color: #a07b50;
}

.header__social a {
    width: 12px;
    height: 11px;
}

.header__social svg {
    fill: #ffffff;
}

.pets {
    background-color: #1f1c1d;
}

.social a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__social {
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 113px;
    margin-top: auto;
}

.header__social li:last-child {
    margin-bottom: 0;
}

.header__social-link svg {
    fill: #ffffff;
    transition: fill 0.3s ease-out;
}

.header__social::before {
    content: "";
    height: 77px;
    width: 2px;
    background-color: rgba(255, 255, 255, 0.61);
    margin-bottom: 29px;
    align-self: center;
}

@media (max-width: 1286px) {
    .header__container {
        background-position: right -150px bottom 0;
    }
}

@media (max-width: 1023px) {
    .header__logo {
        margin-bottom: 60px;
    }

    .header__container {
        background-size: 534px auto;
        background-position: right 0 bottom 0;
        background-image: url(../../img/main-cat-tablet@1x.png);
        padding: 0 45px;
    }

    .header__wrapper {
        padding-bottom: 45px;
    }

    .header__title {
        margin-bottom: 19px;
    }

    .header__lead {
        margin-bottom: 52px;
    }

    .header__social::before {
        display: none;
    }

    .header__social {
        padding-right: 0;
        flex-direction: row;
        order: 5;
    }

    .social__item {
        margin-bottom: 0;
        margin-right: 11px;
    }

    .social__item:last-of-type {
        margin-right: 0;
    }

    .header__content {
        width: 100%;
    }

    .header__link {
        margin-bottom: 60px;
    }
}

@media (max-width: 767px) {
    .container {
        padding: 0 15px;
    }
    .header__container {
        background-image: url(../../img/main-cat-mobile@1x.png);
        background-repeat: no-repeat;
        background-size: 317px auto;
    }

    .header__wrapper {
        padding-top: 17px;
        padding-bottom: 274px;
    }

    .header__logo {
        margin-bottom: 14px;
    }

    .header__city {
        margin: 0 auto;
        font-size: 14px;
        text-align: center;
        margin-bottom: 4px;
    }

    .header__title {
        margin: 0 auto;
        text-align: center;
        font-size: 36px;
        line-height: 42px;
        max-width: 234px;
        letter-spacing: -1px;
        margin-bottom: 15px;
        transform: none;
    }

    .header__lead {
        margin: 0 auto;
        font-size: 14px;
        line-height: 140%;
        text-align: center;
        margin-bottom: 35px;
    }

    .header__link {
        width: 141px;
        font-size: 12px;
        line-height: 14px;
        margin: 0 auto;
        padding: 13px 0;
    }

    .header__social {
        display: none;
    }

    .header__content {
        margin: 0 auto;
    }
}

.slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
  
.slider__container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    list-style: none;
}
  
.slider__wrapper {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    box-sizing: content-box;
}
  
.slider__slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.gallery {
    display: block;
    width: 100%;
    height: auto;
    column-count: 2;
    column-gap: 30px;
}
  
.gallery__wrapper {
    display: flex;
    flex-direction: row;
}
  
.gallery__item {
    flex-shrink: 1;
    width: 100%;
    overflow: hidden;
}

.gallery__item-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.gallery__item-img--top {
    height: 214px;
    margin-bottom: 25px;
}

.gallery__item--bottom {
    height: 241px;
    max-width: 521px;
}

.gallery__item--large {
    height: 485px;
    max-width: 474px;
}

.slider__button {
    position: absolute;
    display: none;
    background-color: transparent;
    width: 14px;
    height: 31px;
    top: 51%;
    border: none;
}

@media (max-width: 1023px) {
    .gallery {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        position: relative;
        column-count: 3;
        column-gap: 0;
        height: 485px;
    }

    .slider__slide {
        z-index: 0;
    }

    .slider__slide--active {
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .slider__slide--active img {
        height: 100%;
        object-fit: cover;
    }

    .pets__slider {
        width: calc(100% - 90px);
        overflow: visible;
    }

    .gallery__item img {
        object-fit: cover;
    }

    .gallery__item-img--top {
        margin-bottom: 0;
    }

    .gallery__item-left {
        order: 0;
        position: relative;
        top: 50%;
        transform: translateY(-17%);
    }

    .gallery__item-right {
        order: 1;
        position: relative;
        top: 50%;
        transform: translateY(-38%);
    }

    
}

.pets__wrapper {
    padding-top: 223px;
    padding-bottom: 21px;
}

.pets__title {
    margin-bottom: 20px;
}

.pets__lead {
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 43px;
}

.pets__link {
    text-align: center;
    width: 200px;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #a07b50;
    background-color: transparent;
    text-decoration: none;
    padding: 18px;
    transition: color 0.3s ease-out, border 0.3s ease-out;
    margin-top: 51px;
    margin-bottom: 41px;
}

.pets__link:focus, 
.pets__link:hover {
    border-color: #ffffff;
    color: #a07b50;
}

.pets__list {
    padding: 0;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 0px;
    padding-bottom: 44px;
}

.pets__tab {
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    list-style: none;
    color: rgb(255, 255, 255);
    opacity: 0.2;
    margin-right: 58px;
    cursor: pointer;
    transition: opacity 0.3s ease-out;
}

.pets__tab:last-of-type {
    margin-right: 0;
}

.pets__tab:focus,
.pets__tab:hover {
    opacity: 1;
}

.pets__tab-content-wrapper {
    display: none;
    position: relative;
    padding: 0;
    margin: 0;
    padding-left: 26px;
}

.pets__tab-content-active {
    display: block;
}

.pet-active {
    opacity: 1;
}

@media (max-width: 1023px) {
    .pets__wrapper {
        padding-top: 101px;
    }

    .pets__title {
        margin-bottom: 22px;
        transform: translateX(-2px);
    }

    .pets__lead {
        transform: translateX(-3px);
        margin-bottom: 44px;
    }
    
    .pets__tab-content-wrapper {
        padding-left: 0;
    }

    .pets__tab-content-wrapper button {
        display: block;
    }

    .pets__link {
        margin-top: 56px;
        margin-bottom: 49px;
    }
}

@media (max-width: 767px) {
    .pets__container {
        padding: 0 15px;
    }

    .pets__wrapper {
        padding-top: 53px;  
    }

    .pets__title {
        font-size: 28px;
        line-height: 32px;
        align-items: center;
    }

    .pets__lead {
        font-size: 14px;
        line-height: 140%;
        align-items: center;
        max-width: 282px;
        margin-bottom: 33px;
    }

    .pets__list {
        width: 80%;
        max-width: 234px;
        padding-bottom: 40px;
    }

    .pets__tab {
        font-size: 16px;
        line-height: 19px;
        margin-right: 44px;
    }

    .pets__slider {
        width: 100%;
    }

    .gallery {
        height: 248px;
    }

    .gallery__item img {
        object-fit: contain;
    }

    .gallery__item--large {
        width: 234px;
        height: 248px;
    }

    .gallery .gallery__item:not(.slider__slide--active) {
        display: none;
    }

    .slider__slide--active {
        position: relative;
    }

    .pets__tab-content-wrapper button {
        top: 45%;
        padding: 0;
        width: 14px;
        height: 17px;
        background-position: center;
    }

    .pets__tab-content-wrapper .prev-slide {
        left: -12%;
    }

    .pets__tab-content-wrapper .next-slide {
        right: -13%;
    }

    .pets__link {
        margin-top: 41px;
        width: 141px;
        font-size: 12px;
        line-height: 14px;
        padding: 12px;
        margin-bottom: 12px;
    }
}

.breed {
    background-color: #1f1c1d;
}

.breed__wrapper {
    padding-top: 21px;
    padding-bottom: 128px;
}

.breed__title {
    font-family: "Yeseva One", "Georgia", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 19px;
}

.breed__lead {
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 23px;
    max-width: 735px;
}

.breed__img {
    position: relative;
    margin: 0 auto;
    z-index: 1;
    transform: translate(20px);
}

.breed__img img {
    position: relative;
}

.breed__img::before {
    content: "";
    position: absolute;
    top: 105px;
    left: 24px;
    width: 519px;
    height: 519px;
    z-index: -1;
    background-color: #151313;
    border-radius: 50%;
}

.breed__img::after {
    content: "";
    position: absolute;
    top: 49px;
    left: -30px;
    border: 1px solid #A07B50;
    border-radius: 50%;
    width: 631px;
    height: 631px;
    z-index: -2;
}

.breed__features-list {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
}

.features-item {
    position: relative;
    list-style: none;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
}

.features-item::before {
    position: absolute;
    width: 15px;
    height: 15px;
    content: "";
    background: #A07B50;
    border-radius: 50%;
}

.easy {
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    max-width: 254px;
    top: 343px;
    left: -421px;
}

.easy::before {
    top: 6px;
    right: -38px;
}

.comands {
    line-height: 25px;
    max-width: 201px;
    top: 362px;
    left: 469px;
}

.comands::before {
    top: 5px;
    left: -36px;
}

.appearance {
    text-align: right;
    max-width: 212px;
    top: 587px;
    left: -395px;
}

.appearance::before {
    top: 6px;
    right: -31px;
}

.weight {
    max-width: 168px;
    top: 534px;
    left: 432px;
}

.weight::before {
    top: 6px;
    left: -34px;
}

@media (max-width: 1180px) {
    .breed__lead {
        max-width: 443px;
    }

    .easy {
        max-width: 167px;
        left: -374px;
    }

    .easy::before {
        top: 25px;
    }

    .appearance {
        max-width: 139px;
        left: -371px;
    }

    .appearance::before {
        top: 29px;
        right: -44px;
    }

    .comands {
        max-width: 132px;
        left: 430px;
    }

    .weight {
        max-width: 110px;
        top: 518px;
        left: 346px;
    }
}

@media (max-width: 1023px) {
    .breed__wrapper {
        padding-bottom: 134px;
    }

    .breed__img {
        transform: translate(33px);
    }

    .breed__img img {
        width: 400px;
        height: 439px;
        top: 25px;
        left: -14px;
    }

    .breed__img::before {
        width: 342px;
        height: 348.55px;
        top: 97px;
        left: 4px;
    }

    .breed__img::after {
        width: 416px;
        height: 423.97px;
        top: 58px;
        left: -35px;
    }

    .features-item::before {
        width: 9.88px;
        height: 10.07px;    
    }

    .easy {
        top: 332px;
        left: -273px;
    }

    .easy:before {
        top: 5px;
        right: -23px;
    }

    .appearance {
        top: 461px;
        left: -257px;
    }

    .appearance:before {
        top: 5px;
        right: -21px;
    }

    .comands {
        top: 272px;
        left: 312px;
    }

    .comands:before {
        top: 4px;
        left: -24px;
    }

    .weight {
        top: 320px;
        left: 287px;
    }

    .weight:before {
        left: -22px;
    }
}

@media (max-width: 767px) {
    .breed__wrapper {
        padding-bottom: 54px;
    }

    .breed__title {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 26px;
        transform: translateX(2px);
    }

    .breed__lead {
        font-size: 14px;
        line-height: 140%;
        max-width: 271px;
        transform: translateX(3px);
    }

    .breed__img::before {
        top: 51px;
        left: -14px;
        width: 230px;
        height: 230px;
    }

    .breed__img img{
        width: 267px;
        height: 291px;
        top: 4px;
        left: -30px;
    }

    .breed__img::after {
        width: 280px;
        height: 280px;
        top: 26px;
        left: -37px;
    }

    .breed__features-list {
        width: 255px;
        position: static;
        bottom: 0;
        right: 0;
        margin-top: 49px;
    }

    .features-item {
        text-align: left;
        position: static;
        font-size: 14px;
        line-height: 140%;
        margin-bottom: 22px;
        max-width: none;
    }

    .features-item:last-of-type {
        margin-bottom: 0;
    }

    .features-item::before {
        display: none;
    }
}

.reasons__wrapper {
    padding-top: 83px;
    padding-bottom: 59px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: flex-start;
}

.reasons__title {
    margin-bottom: 21px;
}

.reasons__lead {
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    margin-bottom: 47px;
}

.reasons__list {
    width: 95%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.reasons__list-item {
    width: 31.4%;
    min-height: 301px;
    background-color: #1F1C1D;
    padding-top: 19.8px;
    padding-bottom: 19.8px;
    margin-right: 2.9%;
    margin-bottom: 2.9%;
}

.reasons__list-item:last-child {
    margin-right: 0;
}

.reasons__link {
    display: block;
    max-width: 320px;
    min-height: 267px;
    margin: auto;
    padding-top: 47px;
    padding-bottom: 16px;
    font-family: "Roboto", "Arial", sans-serif;
    color: #ffffff;
    font-size: 16px;
    line-height: 26px; 
    text-align: center;
    transition: background-color 0.3s ease-out;
}

.reasons__link svg{
    margin: 0 auto;
    fill: #A07B50;
    stroke-width: 2;
    stroke: #1f1c1d;
    margin-bottom: 24px;
}

.reasons__link .icon-counseling24 {
    margin-bottom: 35px;
}

.reasons__link span {
    display: block;
    max-width: 233px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.reasons__link:hover,
.reasons__link:focus {
    background-color: #A07B50;
}

.reasons__link:hover svg,
.reasons__link:focus svg {
    fill: #ffffff;
    stroke: #A07B50;
}

@media (max-width: 1023px) {
    .reasons__wrapper {
        padding-top: 85px;
        padding-bottom: 112px;
    }

    .reasons__lead {
        margin-bottom: 63px;
    }

    .reasons__list {
        width: 360px;
        flex-direction: column;
    }

    .reasons__list-item {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 43px;
        padding-top: 17px;
    }

    .reasons__list-item:last-of-type {
        margin-bottom: 0;
    }
}

@media (max-width: 767px) {
    .reasons__container {
        padding: 0 15px;
    }

    .reasons__wrapper {
        padding-top: 24px;
        padding-bottom: 60px;
    }

    .reasons__title {
        font-size: 28px;
        line-height: 32px;
        max-width: 184px;
        transform: translateX(4px);
        margin-bottom: 24px;
    }

    .reasons__lead {
        max-width: 290px;
        word-spacing: 1px;
        font-size: 14px;
        line-height: 140%;
        margin-bottom: 36px;
    }

    .reasons__list {
        width: 290px;
    }

    .reasons__list-item {
        padding-top: 15px;
        padding-bottom: 15px;
        max-height: 248px;
        min-height: 0px;
        margin-bottom: 30px;
    }

    .reasons__link {
        max-width: 260px;
        min-height: 218px;
        font-size: 14px;
        line-height: 140%;
    }
    
    .reasons__link span {
        margin-bottom: 0;
    }
    
    .reasons__link .icon-free-vet {
        width: 80px;
        height: 88px;
        margin-bottom: 8px;
    }

    .reasons__link .icon-counseling24 {
        width: 80px;
        height: 71px;
        margin-bottom: 10px;
    }

    .reasons__link .icon-food {
        width: 57px;
        height: 88px;
        margin-bottom: 2px;
    }
}

.care {
    background-image: url(../../img/bg-care-desktop@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
}

.care__wrapper {
    padding-top: 87px;
    padding-bottom: 51px;
}

.care__title {
    margin-bottom: 48px;
}

.care__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    width: 96%;
}

.care__item {
    display: flex;
    flex-basis: 48.2%;
    margin-bottom: 3.9%;
}

.care__item:nth-child(2n + 1) {
    margin-right: auto;
}

.care__item-wrapper {
    display: block;
    position: relative;
    min-height: 165px;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #A07B50;
    margin: 0 auto;
    padding-left: 58px;
    padding-top: 37px;
    padding-bottom: 21px;
    padding-right: 19%;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
}

.care__item-wrapper::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 10.7%;
    height: 100%;
    border-left: 1px solid #a07b50;
    background-color: #A07B50;
    background-image: url(../../img/svg/arrowDetails.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color 0.3s ease-out;
}

.care__item-wrapper:hover, 
.care__item:hover > .care__item-wrapper::after {
    background-color: #151313;
}

.care__lead {
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    margin: 0;
    margin-bottom: 10px;
    color: #A07B50;
}

.care__item-descripiton {
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;
    color: #ffffff;
    margin: 0;
}

@media (max-width: 1023px) {
    .care {
        background-image: url(../../img/bg-care-tablet@1x.jpg); 
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 0;   
    }

    .care__title {
        margin-bottom: 38px;
    }

    .care__item {
        flex-basis: 84.5%;
        min-height: 168px;
        margin: 0 auto;
        margin-bottom: 23px;
    }
}

@media (max-width: 767px) {
    .care {
        background-image: url(../../img/bg-care-mobile@1x.jpg); 
        background-repeat: no-repeat;
        background-size: cover;
    }

    .care__wrapper {
        padding-top: 55px;
        padding-bottom: 31px;
    }

    .care__title {
        font-size: 28px;
        line-height: 32px;
        max-width: 228px;
        margin-bottom: 33px;
    }

    .care__list {
        width: 100%;
    }

    .care__item {
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 30px;
        min-height: 152px;
    }

    .care__item-wrapper {
        padding: 25px 17.93% 25px 25px;
    }

    .care__item:nth-child(2n + 1) {
        margin-right: 0;
    }
}

.team__wrapper {
    padding-top: 83px;
    padding-bottom: 70px;
}

.team__title {
    margin-bottom: 21px;
}

.team__lead {
    max-width: 510px;
    margin-bottom: 22px;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}

.team__slider {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.team__list {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
}

.team__item {
    width: 100%;
    height: 100%;
}

.team__item-outer {
    display: flex;
    padding: 2px 90px ;
}

.team__slider-img {
    z-index: 5;
    width: 50%;
    margin-left: 55px;
}

.team__item-wrapper {
    width: 50%;
    background: #1F1C1D;
    border: solid #151313 22px;
    border-left-width: 26px;
    border-right-width: 34px;
    outline: 1px solid rgba(160, 123, 80, 0.43);
    padding: 69px 98px 74px;
    margin-left: -8.5%;
}

.team__item-wrapper blockquote {
    margin: 0;
}

.team__item-name {
    display: block;
    width: 100%;
    text-align: left;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #A07B50;
    margin-bottom: 10px;
}

.team__item-jobTitle {
    display: block;
    width: 100%;
    text-align: left;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #A07B50;
    margin-bottom: 13px;
}

.team__item-description {
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    margin-top: 0;
    margin-bottom: 46px;
    color: rgba(255, 255, 255, 0.72);
}

.team__social-item {
    margin-right: 9px;
    margin-bottom: 0;
}

.team__social-item:last-of-type {
    margin-right: 0;
}

.team__social-item svg {
    fill: #ffffff;
}

.prev-slide {
    position: absolute;
    background-image: url(../../img/svg/arrowPrev.svg);
    background-repeat: no-repeat;
    left: 0;
}

.next-slide {
    background-image: url(../../img/svg/arrowNext.svg);
    background-repeat: no-repeat;
    right: 0;
}

.team__slider button {
    display: block;
    width: 14px;
    height: 31px;
    opacity: 0.5;
    padding: 0;
    border: none;
    background-position: center;
    background-color: transparent;
    cursor: pointer;
    transition: opacity 0.3s ease-out;
}

.team__slider button:focus,
.team__slider button:hover {
    opacity: 1;
}

@media (max-width: 1023px) {
    .team__lead {
        max-width: 510px;
        margin-bottom: 26px;
    }

    .team__slider {
        margin: 0 auto;
        width: 100%;
        position: relative;
        padding-bottom: 105px;
    }

    .team__item-outer {
        position: relative;
        padding-left: 0;
        padding-right: 27px;
        width: auto;
    }

    .team__slider-img {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .team__slider-img img {
        position: absolute;
        right: 102px;
        bottom: -95px;
        width: 207.3px;
        height: 208.93px;
    }

    .team__item-wrapper {
        margin-left: auto;
        margin-right: auto;
        width: 58%;
        padding: 70px 95px 75px 106px;
    }
    .team__slider button{
        top: auto;
        bottom: 16px;
    }
    .team__slider .next-slide {
        left: auto;
        right: 40px;
    }

    .team__slider .prev-slide {
        left: auto;
        right: 340px
    }
}

@media (max-width: 767px) {
    .team__wrapper {
        padding-top: 53px;
        padding-bottom: 60px;
    }

    .team__title {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 24px;
    }

    .team__lead {
        font-size: 14px;
        line-height: 140%;
        margin-bottom: 40px;
    }

    .team__slider {
        flex-direction: column;
        padding: 0;
        align-items: center;
    }

    .team__list {
        width: 100%;
    }

    .team__item {
        width: 100%;
        flex-direction: column;
    }

    .team__item-outer {
        width: 100%;
        padding: 0;
        flex-direction: column;
    }

    .team__slider-img {
        position: relative;
        width: 43%;
        max-width: 180px;
        height: auto;
        margin-left: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .team__slider-img img {
        width: auto;
        height: auto;
        position: relative;
        top: 0;
        right: 0;
    }

    .team__item-wrapper {
        width: auto;
        border: none;
        outline: none;
        padding: 79px 11px 16px 11px;
        margin-top: -60px;
    }

    .team__item-name {
        text-align: center;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 4px;
    }

    .team__item-jobTitle {
        text-align: center;
        font-size: 14px;
        line-height: 135.94%;
        margin-bottom: 16px;
    }

    .team__item-description {
        text-align: center;
        font-size: 14px;
        line-height: 140%;
        margin-bottom: 27px;
    }

    .team__social {
        justify-content: center;
    }

    .team__social-item {
        margin-right: 15px;
    }

    .team__social-item .social__icon--fb {
        width: 5px;
        height: 12px;
    }

    .team__social-item .social__icon--tw {
        width: 16px;
        height: 12px;
    }

    .team__social-item .social__icon--vk {
        width: 18px;
        height: 10px;
    }

    .team__wrapper button {
        top: 17.49%;
        width: 14px;
        height: 18px;
        background-position: center;
    }

    .team__slider .prev-slide {
        left: 57px;
    }

    .team__slider .next-slide {
        right: 57px;
    }
}

.faq {
    background-color: #1f1c1d;
}

.faq__wrapper {
    padding-top: 76px;
    padding-bottom: 30px;
}

.faq__title {
    text-align: center;
    margin-bottom: 22px;
}

.faq__lead {
    margin-bottom: 54px;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
}

.faq__list {
    width: 75.37%;
    counter-reset: faq-counter;
    margin: 0 auto;
    overflow: hidden;
    transform: translateX(11px);
}

.faq__item {
    counter-increment: faq-counter;
    position: relative;
    margin: 0;
    padding: 0;
    margin-bottom: 38px;
    padding-left: 116px;
}

.faq__item:last-of-type {
    margin-bottom: 0;
}

.faq__item-wrapper::before {
    content: "0"counter(faq-counter);
    position: absolute;
    top: 14px;
    left: 0;
    text-transform: uppercase;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 82px;
    color: #A07B50;
}

.faq__question {
    width: 99.9%;
    box-sizing: border-box;
    position: relative;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #DDD0C3;
    background-color: transparent;
    padding: 47px 15% 43px 42px;
    border: 1px solid rgba(160, 123, 80, 0.41);
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease-out;
}

.faq__question::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 13.11%;
    background-color: transparent;
    border-left: 1px solid rgba(160, 123, 80, 0.41);
    background-image: url(../../img/svg/plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color 0.3s ease-out;
}

.faq__question:hover,
.faq__question:focus,
.faq__active-btn:hover::after,
.faq__active-btn:focus::after {
    background-color: #151313;
}

.faq__active-btn::after {
    background-color: #A07B50;
    background-image: url(../../img/svg/activeQuestion.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.faq__answer {
    display: none;
    border: 1px solid rgba(160, 123, 80, 0.41);
    border-top: none;
    padding: 38px 41px 39px;
    color: #DDD0C3;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 154%;
}

.faq__answer p {
    margin: 0;
    padding: 0;
    max-width: 549px;
}

.faq__answer--active {
    display: block;
}

.faq__answer--active p {
    margin-bottom: 28px;
}

.faq__answer--active p:last-of-type {
    margin-bottom: 0;
}

@media (max-width: 1023px) {
    .faq__wrapper {
        padding-top: 140px;
    }

    .faq__title {
        margin-bottom: 20px;
    }

    .faq__list {
        width: 92.15%;
    }

    .faq__item {
        padding-left: 81px;
        margin-bottom: 23px;
    }

    .faq__item-wrapper::before {
        font-size: 50px;
        line-height: 59px;
    }

    .faq__question {
        width: 100%;
        padding: 20px 25.637% 21px 30px;
    }

    .faq__answer {
        padding: 21px 33px 26px 31px;
    }

    .faq__answer p {
        max-width: 381.84px;
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .faq__wrapper {
        width: 100%;
        padding-top: 53px;
    }

    .faq__title {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 24px;
    }

    .faq__lead {
        font-size: 14px;
        line-height: 140%;
        max-width: 177px;
        letter-spacing: -1px;
        margin-bottom: 35px;
    }

    .faq__list {
        width: 100%;
    }

    .faq__list {
        margin: 0;
        transform: none;
    }

    .faq__item {
        padding-left: 0;
        margin-bottom: 30px;
    }

    .faq__item-wrapper::before {
        display: none;
    }

    .faq__question {
        padding: 12px 17% 11px 15px;
        font-size: 14px;
        line-height: 140%;
    }

    .faq__question::after {
        width: 14.827%;
    }

    .faq__answer {
        padding: 10px 27px 12px 14px;
        font-size: 14px;
        line-height: 140%;
        min-width: 248px;
    }

    .faq__answer p {
        margin-bottom: 15px;
    }
}

.reviews {
    background-color: #1f1c1d;
}

.reviews__wrapper {
    display: block;
    padding-top: 56px;
    padding-bottom: 111px;
}

.reviews__title {
    margin-bottom: 58px;
}

.reviews__slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 65px;
}

.reviews__list {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.reviews__item {
    display: flex;
    padding-left: 0;
}

.reviews__img-wrapper {
    width: 60%;
    z-index: 1;
    margin: 0;
    margin-top: 47px;
    margin-left: 68px;
}

.reviews__item-wrapper {
    width: 50%;
    background-color: #151313;
    padding: 109px 95px 97px 157px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 0;
    margin-left: -112px;
}

.reviews__item-wrapper blockquote {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
}

.reviews__content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.reviews__item-title {
    display: block;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 14px;
}

.reviews__item-wrapper p{
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.72);
    padding: 0;
    margin: 0;
    margin-bottom: 42px;
    max-width: 403px;
}

.reviews__content-wrapper time {
    letter-spacing: 0.6px;
    line-height: 2.5;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    color: rgba(160, 123, 80, 0.94);
    margin-right: 31px;
}

.reviews__social {
    align-items: flex-start;
}

.reviews__social-item {
    position: relative;
    margin-bottom: 0;
    margin-right: 17px;
}

.reviews__link {
    width: 28px;
    height: 28px;
    border: 1px solid rgba(160, 123, 80, 0.27);
    transition: border-color 0.3s ease-out;
}

.reviews__social-item svg {
    position: absolute;
    fill: #a07b50;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: fill 0.3s ease-out;
}

.reviews__link:hover, 
.reviews__link:focus {
    border-color: #ffffff;
}

.reviews__link:hover > svg, 
.reviews__link:focus > svg {
    fill: #ffffff;
}

.reviews__social-item:last-of-type {
    margin-right: 0;
}

.reviews__wrapper button {
    display: block;
    position: absolute;
    top: 50%;
    background-color: transparent;
    width: 14px;
    height: 31px;
    padding: 0;
    border: none;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s ease-out;
}

.reviews__wrapper button:focus,
.reviews__wrapper button:hover {
    opacity: 1;
}

@media (max-width: 1023px) {
    .reviews__wrapper {
       padding-top: 73px; 
       padding-bottom: 88px;
    }

    .reviews__slider {
        padding: 0;
    }
    
    .reviews__title {
        margin: 0 auto;
        margin-bottom: 48px;
    }

    .reviews__img-wrapper {
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
    } 

    .reviews__img-wrapper img {
        position: absolute;
        width: 302px;
        height: 208px;
        left: 50%;
    }

    .reviews__item-wrapper {
        width: 60.6%;
        margin: 0 auto;
        margin-top: 95px;
        padding: 148px 74px 16px 97px;
        text-align: center;
    }

    .reviews__item-wrapper p {
        margin: 0 auto 26px auto;
    }

    .reviews__content-wrapper {
        margin: 0 auto;
    }

    .reviews__wrapper button {
        width: 59px;
        height: 16px;
        top: 40%;
    }

    .reviews__wrapper .prev-slide {
        background-image: url(../../img/svg/arrowPrevLong.svg);
        left: 17.5%;
    }

    .reviews__wrapper .next-slide {
        background-image: url(../../img/svg/arrowNextLong.svg);
        right: 14.5%;
    }
}

@media (max-width: 767px) {
    .reviews__container {
        padding: 0 15px;
    }

    .reviews__wrapper {
        position: relative;
    }

    .reviews__slider {
        padding: 0;
        flex-direction: column;
        align-items: flex-start;
    }

    .reviews__list {
        width: 100%;
    }

    .reviews__item {
        width: 100%;
        padding-left: 0;
        flex-direction: column;
    }

    .reviews__item-wrapper {
        width: auto;
        padding: 118px 31px 40px 32px;
        margin: 0;
        margin-top: -83px;
    }

    .reviews__item-wrapper blockquote {
        display: block;
        width: 100%;
    }

    .reviews__item-title {
        font-size: 18px;
        line-height: 21px;
    }

    .reviews__item-wrapper p {
        min-width: 227px;
        margin: 0 auto 26px auto;
    }

    .reviews__img-wrapper {
        position: relative;
        width: 242px;
        height: 166px;
        top: 0;
        left: 50%;
        margin-top: 0;
        transform: translateX(-50%);
    }

    .reviews__img-wrapper img {
        position: relative;
        width: auto;
        height: auto;
        top: 0;
        left: 0;
    }

    .reviews__wrapper button {
        position: absolute;
        width: 19px;
        height: 18px;
        top: 237px;
        background-position: center;
    }

    .reviews__wrapper .prev-slide {
        background-image: url(../../img/svg/arrowPrev.svg);
        left: 0;
    }

    .reviews__wrapper .next-slide {
        background-image: url(../../img/svg/arrowNext.svg);
        right: 0;
    }
}

.footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 72.7%;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 59px;
}

.footer__link {
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: rgba(253, 242, 230, 0.83);
}

.footer__link svg:hover, 
.footer__link svg:focus  {
    fill: #ffffff;
}

.footer__social {
    align-self: center;
}

.footer__logo svg,
.footer__social li svg {
    cursor: pointer;
    fill: #A07B50;
}

.footer__social li {
    margin-right: 8px;
    margin-bottom: 0;
}

.footer__social li:last-of-type {
    margin-right: 0;
}

.footer__link--address {
    font-weight: normal;
}

.footer__link--tel {
    font-weight: bold;
    color: #FDF2E6;
}

@media (max-width: 1023px) {
    .footer__wrapper {
        width: 100%;
        padding-top: 34px;
    }

    .footer__logo {
        display: none;
    }

    .footer__link--address {
        transform: translateX(16px);
    }

    .footer__link--tel {
        transform: translateX(-18px);
    }
}

@media (max-width: 767px) {
    .footer__container {
        padding: 0 28px;
    }

    .footer__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .footer__link {
        transform: none;
    }

    .footer__link--address {
        order: 0;
        margin-bottom: 3px;
    }

    .footer__link--tel {
        order: 1;
        margin-bottom: 16px;
        transform: translateX(2px);
    }

    .footer__social {
        order: 2;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    .footer__social .social__item {
        margin-right: 20px;
    }

    .footer__link .social__icon--fb {
        width: 7px;
        height: 16px;   
    }

    .footer__link .social__icon--tw {
        width: 22px;
        height: 16px; 
    }

    .footer__link .social__icon--vk {
        width: 25px;
        height: 14px;  
    }

    .footer__logo {      
        display: block;
        order: 3;
    }

    .crown--footer {
        width: 56px;
        height: 25px; 
    }
}