@font-face {
    font-family: "Roboto";
    src: url("../../fonts/Robotolight.woff2"), url("../../fonts/Robotolight.woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../../fonts/Roboto.woff2"), url("../../fonts/Roboto.woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../../fonts/Robotomedium.woff2"), url("../../fonts/Robotomedium.woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../../fonts/Robotobold.woff2"), url("../../fonts/Robotobold.woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Yeseva One";
    src: url("../../fonts/yesevaone.woff2"), url("../../fonts/yesevaone.woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}